.articles_children{
    width: 100%;
    .articles_children_list{
        width: 100%;
        height: 100px;
        border-bottom: solid 1px #d3d3d3;
        .articles_children_list_p{
            width: 80%;
            height: 40%;
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            .articles_children_list_p_span{
                height: 100%;
                display: inline-block;
                text-align: center;
                line-height: 40px;
            }
        }
        .articles_children_list_box{
            width: 80%;
            height: 30%;
            // background-color: yellowgreen;
            line-height: 40px;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            margin-left: 10%;
            .articles_children_list_li{
                margin-left: 20px;
            }
        }
    }
}
.articles_children_list_p_span:hover{
    color: red;
}