
.actiItem{
    width: 100%;
    height: 100%;
    margin-top: 30px;

.ArchivesBoxLeftRedux{
    margin-left: 50px;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: silver;
    border-radius: 30%;
}
.KnowledgeP:hover{
    color:#f40a12
  }
}