.Articles {
  width: 100%;
  height: 100%;
  // background-color: seagreen;
  .Articles_box {
    width: 1145px;
    height: 100%;
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .Articles_left {
      width: 836px;
      height: 100%;
      background: #fff !important;
      .KnowledgeItem {
        padding: 10px 10px;
        width: 700px;
        height: 175px;
        border-bottom: 1px solid #f3f3f3;
        display: flex;
        color: inherit;
        img {
          width: 190px;
          height: 100px;
        }
      }
      .KnowledgeHeader {
        width: 220px;
        .KnowledgeP:hover {
          color: #f40a12;
        }
        .KnowledgeP {
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        dt {
          width: 300px;
          display: flex;
          align-items: center;
          p {
            font-weight: 800;
            font-size: 20px;
          }
          time {
            margin: 0 8px;
          }
        }
      }
      .KnowledgeMain {
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 25px;
        .KnowledgeEye {
          width: 100%;
          color: #8590a6;
          font-size: 14px;
          line-height: 25px;
          margin-top: 50px;
          display: flex;
          p {
            margin-left: 10px;
          }
        }
      }
    }
    .Articles_right {
      width: 288px;
      height: 100%;

      .Articles_right_top {
        width: 288px;
        height: 268px;
        background: white;
        margin-bottom: 1.3rem;
        line-height: 1.29;
        overflow: hidden;
        .Articles_right_top_title {
          padding: 16px;
          border-bottom: 1px solid #f3f3f3;
          color: #000;
          font-weight: 700;
        }
        .Articles_right_top_content {
          position: relative;
          padding: 0 16px 16px;
          div {
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 16px;
        
            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            p:hover {
              height: 20px;
              color: #f40a12;
              background: rgba(223, 221, 221, 0.37);
            }
          }
        }
      }
      .Articles_right_down {
        width: 288px;
        height: 368px;
        background: white;
        margin-bottom: 1.3rem;
        line-height: 1.29;
        overflow: hidden;
        .Articles_right_down_title {
          padding: 16px;
          border-bottom: 1px solid #f3f3f3;
          color: #000;
          font-weight: 700;
        }
        .Articles_right_down_content {
          position: relative;
          padding: 0 16px 16px;
          div {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 16px;
     
            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            p:hover {
              height: 20px;
              color: #f40a12;
              background: rgba(223, 221, 221, 0.37);
            }
          }
        }
      }
      .icon {
        font-size: 28px;
        padding: 12px 0;
        margin-left: 55px;
      }
    }
  }
}
