.About_Box{
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.container{
    width: 970px;
    margin: 0 auto;
    
}
.TheCover{
    max-width: 970px;
    height: 600px;
    padding-bottom:1.5rem;
    margin: 0 auto;
    margin-top: 15px;
    // border: 1px solid #000;
    img{
        width: 100%;
        height: 100%;
    }
}
.markdown{
    max-width: 800px;
    // border: 1px solid #000;
    >h1{
        line-height: 1.5;
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 5px;
        color: inherit;
    }
    >h2{
        padding-bottom: 12px;
        line-height: 1.5;
        font-size: 24px;
        margin-top: 35px;
        margin-bottom: 10px;
        color: inherit;
        border-bottom: 1px solid #eaeaea;
    }
    >h3{
        font-size: 18px;
        padding-bottom: 0;
        line-height: 1.5;
        margin-top: 35px;
        margin-bottom: 10px;
    }
    >ul task-list-item{
        list-style: none;
        padding-left: 24px;
        margin-left: -24px;
    }
    pre{
        position: relative;
        max-height: 400px;
        padding-top: 30px;
        border-radius: 5px;
        margin: 10px 0;
        background-color:#eaeaea;
        display: flex;
        code{
            max-height: 370px;
            padding: 9px 10px 12px;
            overflow: auto;
            overscroll-behavior:contain;
            font-size: 12px;
            white-space: pre-wrap;
            display: block;
            word-wrap: break-word;
            word-break: break-all;
            
        }
        .copy-code-btn{
            position: absolute;
            top: 8px;
            right: 5px;
            font-size: 12px;
            
        }
        .hljs-meta{
            color: blue;
        }
        .hljs-class{
            max-width: 100%;
            box-sizing: border-box;
            font-size: 12px;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
    table{
        font-size: 13px;
        width: 150px;
        height: 120px;
        border:1px solid #eaeaea;
        thead{
            height: 32px;
            line-height: 32px;
          background-color: #eaeaea;
        }
        tbody{
            height: 32px;
            line-height: 32px;
            text-align: center;
            .tabody_phone{
                background-color: #eaeaea;
            }
        }
    }
    
}