article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
th,
ul {
  margin: 0;
  padding: 0;
  user-select: none;
}

body,
html,
#root,
.container {
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html,body,#root,.App{
  width: 100%;
  height: 100%;
}
.Home{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  top: 0;
  .Home_header{
    width: 100%;
    height: 64px;
    display: flex;
    background-color: white;
    top: 0;
    left: 0;
    flex-direction: row;
    .Home_header_img{
      margin-left: 50px;
      width: 10%;
      height: 100%;
      // background-color: rgb(135, 235, 203);
    }
    .Home_header_navlink{
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .Home_header_grabble{
      width: 35%;
      height: 100%;
      // background-color: skyblue;
      .Home_header_grabble_icon{
        width: 100%;
        height: 100%;
        line-height: 70px;
        span{
          font-size: 30px;
          margin-left: 50px;
        }
      }
    }
  }
  .Home_main{
    width: 100%;
    height: 100%;
  }
  .Home_footer{
    width: 100%;
   
    background-color: rgb(236, 236, 236);
  }
}
a:hover{
  color: red;
}
.active{
  color: red;
}
a{
  color: black;
}
#back{
  position: fixed;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E %3Cpath fill='%23ffffff' d='M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z'%3E%3C/path%3E %3C/svg%3E") center no-repeat rgb(0, 0, 0);
  background-size: 50%;
  margin-top: 40%;
  margin-left: 90%;
}