
.Home_header {
  background: @primary-color;
  color: @text-color;
  .Articles_left{
    background: @primary-color;
    color: @text-color;
    .Articles_left_list_top{
    
      a{
        color: @text-color; 
      }
    }
  }  
  .Articles_right{
    background: @primary-color;
    color: @text-color;
    .Articles_right_top{
      background: @primary-color;
      color: @text-color;
      .Articles_right_top_content{
        background: @primary-color;
        color: @text-color;
      }
    }
  }
  .Home_header_navlink{
    a{
      color: @text-color;
    }
  }
}
.grade {
  color: @text-color;
}
.text {
  color: @text-color;
}
.Home_main{
  background: @primary-color;
}
.articles_children{
  background: @primary-color;
  color: @text-color;
  .articles_children_list{
    color: @text-color;
    H3{
      color: @text-color;
    }
    P{
      color: @text-color;
    }
  }
}
.Home_main{
  background: @primary-color;
  color: @text-color;
  .Articles{
    background: @primary-color;
    color: @text-color;
.Articles_box{
  background: @primary-color;
    color: @text-color;
    .Articles_left{
      background: @primary-color;
      color: @text-color;
      .KnowledgeItem{
        background: @primary-color;
        color: @text-color;
      }
    }
  
    .Articles_right{
      background: @primary-color;
      color: @text-color;
    }
    .Articles_right_top{
      background: @primary-color;
      color: @text-color;
    }
}
  }
}
.style_actiItem__1t0kk{
  background: @primary-color;
  color: @text-color;
  .style_KnowledgeP__2IZeN{
    background: @primary-color;
    color: @text-color;
  }
  .style_ArchivesBoxLeftTopPd__2MTXD{
    background: @primary-color;
    color: @text-color;
  }
  .style_ArchivesBoxLeftText__2z8Te{
    background: @primary-color;
    color: @text-color;
  }
  .style_ArchivesBoxLeftObj__2rxoq{
    background: @primary-color;
    color: @text-color;
  }
  .style_ArchivesBoxRigth__3nwRu{
    background: @primary-color;
    color: @text-color;
    .style_Articles_right_top_title__2TYSS{
      background: @primary-color;
      color: @text-color;
    }
  
  }

}
.style_Articles_right_top_content__21HqY{
  background: @primary-color;
  color: @text-color;
  p{
    background: @primary-color;
    color: @text-color;
  }
}
.style_Articles_right_down__3vaO6{
  background: @primary-color;
  color: @text-color;
  .style_Articles_right_down_title__3smAu{
    background: @primary-color;
    color: @text-color;
  }
  .style_Articles_right_down_content__UlDcf{
    background: @primary-color;
    color: @text-color;
    p{
      background: @primary-color;
      color: @text-color;
    }
  }
}