.DetailVach_box {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  .DetailVach_box_main {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
  }
}
.DetailItem {
  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  dt {
    width: 100%;
    border-radius: var(--border-radius);
    margin: 1rem auto;
    overflow: hidden;
    img {
      width: 810px;
      height: 265px;
      margin-left: 5px;
    }
  }
  dd {
    text-align: center;
  }
  .btn {
    margin-left: 360px;
    color: #fff;
    background: #f40a12;
    border-color: #f40a12;
  }
  .DetailP {
    margin-left: 370px;
  }
}
.Detail-- {
  border-bottom: 1px solid #f3f3f3;
}
.DetailBottom {
    height: 120px;
  .DetailBottom-p {
      padding: 10px 10px;
      height: 40px;
  }
  .DetailBottom-p:hover{
      color: #f40a12;
      background: rgba(223, 221, 221, 0.37);
  }
}
  .knowRead_main {
    width: 75%;
    height: 800px;
    margin: 0 auto;
    padding-top: 30px;
    .knowRead_title {
      font-size: 14px;
    }
    .knowRead_foot {
      width: 100%;
      height: 100%;
      margin-top: 20px;
        float: left;
        .knowRead_lefthead {
          width: 100%;
          height: 80%;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            font-size: 36px;
            padding-top: 20px;
          }
          p {
            padding-top: 20px;
            font-size: 18px;
          }
        }
    }
  }
  .Articles {
    width: 100%;
    height: 100%;
    .Articles_box {
      width: 1145px;
      height: 100%;
      background-color: rgb(236, 236, 236);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
  .Articles_right {
    width: 288px;
    height: 100%;

    .Articles_right_top {
      width: 288px;
      height: 268px;
      background: white;
      margin-bottom: 1.3rem;
      line-height: 1.29;
      overflow: hidden;
      li {
        margin-left: 5%;
        font-size: 18px;
        cursor: pointer;
        width: 90%;
        height: 50px;
        line-height: 50px;
      }
      li:hover {
        color: red;
        background-color: #eee;
      }
      .Articles_right_top_title {
        border-bottom: 1px solid #f3f3f3;
        color: #000;
        h1 {
          padding: 8px 8px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
  .Articles_left {
    background: #fff;
    .text {
      text-align: center;
      padding: 10px 0;
      font-size: 18px;
    }
}
.DetailVach_box_like{
    width: 40px;
    height: 80px;
    // background-color: sandybrown;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 240px;
    margin-left: 255px;
    font-size: 20px;
}
.active_btn{
    color: red;
}
