.boox{
    width: 100%;
    height: 100%;
}
.BOARDS_Box{
    width: 100%;
    height: 100%;

}
.TheHead{
    width: 100%;
    height: 151px;
    background-color: #fff;
    display: flex;
    .container{
        width: 90%;
        height: 129px;
        margin: 0 auto;
        margin-top: 21px;
        font-size: 15px;
        // border: 1px solid #000;
        h2{
            text-align: center;
            padding-bottom: 12px;
            font-weight: 500;
        }
        p{
            text-align: center;
            box-sizing: border-box;
            font-size: 15px;
            letter-spacing: 1.2px;
            margin-top: 10px;
        }
    }
}
.MessageBoard{
    width: 100%;
    height: 100%;
    .comments{
        width: 768px;
        margin: 0 auto;
        margin-top: 15px;
        background-color: #fff;
        .commentsTitle{
            width: 100%;
            height: 30px;
            text-align: center;
            background-color: #eaeaea;
            // border: 1px solid #000;
        }
        .TheInput{
            width: 700px;
            height: 170px;
            position: relative;
            margin: 0 auto;
            padding: 16px;
            border-bottom: 1px solid #ccc;
            textarea{
                width: 100%;
                height: 98px;
                min-height: 98px;
                max-height: 186px;
                overflow-y: auto;
                resize: none;
                position: relative;
                padding:4px 11px;
                border-color: #ccc;
            }
            footer{
                width: 670px;
                height: 40px;
                margin: 0 auto;
                padding-top: 8px;
                display: flex;
                justify-content: space-between;
                // border: 1px solid #000;
                button{
                    width: 60px;
                    height: 30px;
                    right: 0;
                    border:#ccc;
                   
                }
                span{
                    color: #ccc;
                }
                .expression:hover{
                    color: red;
                }
            }
        }
        .commentsSection{
            width: 700px;
            max-width: 1000px;
            margin: 0 auto;
            margin-top: 15px;
          
            .CommentOnTheList{
                width: 100%;
                height: 255px;
                border-bottom: 1px solid #ccc;
                .TheUser{
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                   
                   .TheNameOfThe{
                        margin: 0 10px;
                       
                    }
                }
                .published{
                    width: 100%;
                    height: 65px;
                    margin: 0 45px;
                   .replyComments{
                       width: 100%;
                       height: 30px;
                       margin-top: 15px;
                       span{
                           margin: 15px;
                       }
                   }
                   .ReplyToHighlight:hover{
                       color: red;
                   }
                }
            }
            .Comment__OnTheList{
                width: 100%;
                overflow: hidden;
                border-bottom: 1px solid #ccc;
                .TheUser{
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    
                    span{
                        margin: 0 10px;
                    }
                }
                .published{
                    width: 100%;
                    height: 65px;
                    margin: 0 45px;
                   .replyComments{
                       width: 100%;
                       height: 30px;
                       margin-top: 15px;
                       span{
                           margin: 15px;
                       }
                   }
                   .ReplyToHighlight:hover{
                       color: red;
                   }
                }
            }
            .replyy{
                width: 100%;
                height: 108px;
                display: flex;
                padding:15px;
                .TheAvatars{
                    width: 35px;
                    height: 35px;
                    color: #ccc;
                    text-align: center;
                    line-height: 35px;
                    border: 1px solid #ccc;
                    border-radius: 50px;
                    
                }
                textarea{
                    margin-left: 15px;
                    width: 650px;
                    height: 76px;
                    border: 1px solid #ccc;
                    padding: 7px;
                    color: #ccc;
                }
            }
            .ButtonInTheList{
                width: 100%;
                height: 30px;
                .TheLabel:hover{
                    color: red 
                }
                .TheLabel{
                    margin-left: 60px;
                }
                .PackUp:hover{
                    border-color: red;
                    color: red;  
                }
                .PackUp{
                    width: 50px;
                    border: 1px solid #ccc;
                    margin-left: 460px;     
                }
                
                .ReleaseTheButton{
                    width: 50px;
                    margin-left: 20px;
                    border: 1px solid #ccc;
                }
            }
        }
        
    }
    
    .Recommended{
        width: 768px;
        margin: 0 auto;
        margin-top: 15px;
        font-size: 16px;
        background-color: #fff;
    }
}


.bounced_Box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    .bounced{
        width: 520px;
        height: 247px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 200px;
        .bounced_title{
            width: 100%;
            height: 55px;
            padding: 16px 24px;
            font-size: 16px;
            border-bottom: 1px solid #ccc;
            border-radius: 2px 2px 0 0;
            .ShutDown{
                margin-left: 340px;
                font-size: 18px;
                color: #000;
            }
        }
        .bounced_INPUT{
            width: 472px;
            height: 141px;
            margin: 0 auto;
            margin-top:40px;
            >p{
               width: 100%; 
               display: flex;
               >input{
                   height: 30px;
                   width: 90%;
               }
            }
            .cancel{
                width: 60px;
                height: 30px;
                margin-top: 8px;
                margin-left: 330px;
            }
            .SetUpThe{
                width: 60px;
                height: 30px;
                margin-left: 15px;
                background-color: red;
                color: #fff;
                border: none;
            }
        }
    }
}

.Text_Input{
    width: 100%;
    height: 79px;
    border: 1px solid #000;
    textarea{
        width: 100%;
        height: 100%;
    }
}
.hidden{
    display: none;
}
.AccordingTo{
    display: block;
}
