.Articles {
  width: 100%;
  height: 100%;

  .Articles_box {
    width: 1145px;
    height: 100%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .Articles_left {
      width: 836px;
      height: 100%;
  
      // overflow-y: scroll;
      .Articles_left_swiper {
        width: 816px;
        height: 342px;
        border: 10px solid white;
    
      }
      .Articles_left_list {
        width: 816px;
        // height: calc(100% - 342px);
        background-color: white;
       
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .Articles_left_list_top{
          width: 70%;
          height: 57px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-bottom: 1px solid #e0e0e0;
        }
        .Articles_left_list_down{
          width: 100%;
          // height: calc(100% - 57px);
        }
      }
    }
    .Articles_right {
      width: 288px;
      height: 100%;
  
    }
  }
}