.HomeBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.HomeTop .HomeTopNav{
    width: 80%;
    display: inline-block;
}
.HomeTop .HomeTopBut{
  margin-right: 20px;
}
.HomeTop .HomeTopNav a{
    margin-left: 50px;
}
.HomeTop{
    width: 100%;
    height: 50px;
    display: flex;

}
.HomeTopBut{
    display: inline-block;
   flex: 1;
}
.HomeConten{
   flex: 1;  
}