.ArchivesBox{
  
  width: 100%;
   height: 100%;

  display: flex;
  #ArchivesBoxStiCk{
      position: absolute;
      top: 600px;
       left: 800px;
  }
  .ArchivesBoxLeft{
      margin-left: 200px;
      width: 700px;
      height: 100%;
  
      
      .ArchivesBoxLeftText{
          font-size: 24px;
      }
      .ArchivesBoxLeftTop{
          line-height: 95px;
     text-align: center;
          width: 100%;
          height: 95px;
          font-size: 30px;
         
          border-bottom: 1px solid #000000;
          .ArchivesBoxLeftTopPd{
              color: red;
          }
      }
      .ArchivesBoxLeftObj{
          font-size: 24px;
      }
     
  }
  .ArchivesBoxRigth{
      width: 288px;
  
      margin-left: 50px;
margin-top: 110px;
      .Articles_right_top {
        width: 288px;
  
        background: white;
        margin-bottom: 1.3rem;
        line-height: 1.29;
        overflow: hidden;
        .Articles_right_top_title {
          padding: 16px;
          border-bottom: 1px solid #f3f3f3;
          color: #000;
          font-weight: 700;
        }
        .Articles_right_top_content {
          position: relative;
          padding: 0 16px 16px;
          div {
            // display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 16px;
      
            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            p:hover{
              color: #f40a12;
            }
          }
        }
      }
      .Articles_right_down {
        width: 288px;
        height: 368px;
        background: white;
        margin-bottom: 1.3rem;
        line-height: 1.29;
        overflow: hidden;
        .Articles_right_down_title {
          padding: 16px;
          border-bottom: 1px solid #f3f3f3;
          color: #000;
          font-weight: 700;
        }
        .Articles_right_down_content {
          position: relative;
          padding: 0 16px 16px;
          div {
            
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 16px;
          
            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            p:hover{
              color: #f40a12;
            }
          }
        }
      }

        .icon{
          font-size: 28px;
          padding: 12px 0;
          margin-left: 55px;
        }

  }
}
